export CA_STATS_USER={{ lookup('env', 'CA_STATS_USER') }}
export CA_STATS_PASSWD={{ lookup('env', 'CA_STATS_PASSWD') }}
export CA_STATS_JSON_URL={{ lookup( 'env', 'CA_STATS_JSON_URL') }}
export REDUNLIVE_ADMIN_PASSWD={{ lookup('env', 'REDUNLIVE_ADMIN_PASSWD') }}
export EPIPEARL_USER={{ lookup('env', 'EPIPEARL_USER') }}
export EPIPEARL_PASSWD={{ lookup('env', 'EPIPEARL_PASSWD') }}
export TESTING={{ lookup('env', 'TESTING') }}

